@font-face {
  font-family: "myfont";
  src: url('/font/wulkan-display-2-0-font/Wulkan-Display-Medium.otf') format('woff');
}



.hero-section {
  /* Centering the text in the middle of the page. */
  display: grid;
  place-items: center;

  /* Setting the background image of the hero section. */
  background-image: url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 100vh;
}


.hero-text {
  color: #fff;
  text-align: center;
  padding: 3em;
}

.hero-subtitle {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;

  margin-bottom: 2em;
}

.hero-title {
  font-family: 'myfont', serif;
  font-size: 4.6rem;
  font-weight: 300;

  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 0.1em;
}

.hero-cta {
  color: #FF8B13;
  font-size: .9rem;
  font-weight: 400;
  text-transform: none;
}


/* If the screen is less than 768px, then apply the following styles. */
@media (max-width: 768px) {
  .hero-subtitle {
    font-size: .5rem;
    margin-bottom: 1em;
  }

  .hero-title {
    font-size: 1.4rem;
    max-width: 300px;

  }

  .hero-title span {
    display: none;
  }

  .hero-cta {
    letter-spacing: 0ch;
  }
}