@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

.hero-section {
  /* Centering the text in the middle of the page. */
  display: grid;
  place-items: center;

  /* Setting the background image of the hero section. */
  background-image: url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 100vh;
}


.hero-text {
  color: #fff;
  text-align: center;
  padding: 3em;
}

.hero-subtitle {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.4ch;

  margin-bottom: 2em;
}

.hero-title {
  font-family: 'Playfair Display', serif;
  font-size: 2.7rem;
  font-weight: 300;

  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 0.1em;
}

.hero-cta {
  color: #fb9724;
  font-size: .9rem;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0.3ch;
}


/* If the screen is less than 768px, then apply the following styles. */
@media (max-width: 768px) {
  .hero-subtitle {
    font-size: .6rem;
  }

  .hero-title {
    font-size: 1.4rem;
    max-width: 500px;
  }
}