:root {
  --clr-primary: #2997ff;
  ;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

@font-face {
  font-family: "myfont";
  src: url('../font/wulkan-display-2-0-font/Wulkan-Display-Medium.otf') format('woff');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  background-color: #181818;
  color: #fff;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.left-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

/* Sign in */
.signin-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding-bottom: 1rem;
}

.signin-section form {
  width: 80%;
  padding-bottom: 3rem;
}

.signin-section .logo {
  margin-bottom: 8vh;
}

.signin-section .logo img {
  width: 400px;
  height: 100px;
}

.signin-section label {
  font: 0.9rem;
  line-height: 2rem;
  font-weight: 500;
  display: block
}

.signin-section .text-input {
  font-family: 'Inter', sans-serif !important;
  margin-bottom: 1.3rem;
  width: 100%;
  height: 2.7rem;
  border: 1px #666 solid;
  border-radius: 2px;
  background-color: #181818;
  color: #ccc;
  padding: 0.5rem 1rem;
}

.signin-section .text-input:focus {
  outline: 1px var(--clr-primary) solid;
}

.signin-section .primary-btn {
  width: 100%;
}

.signin-section .secondary-btn,
.or,
.links {
  width: 60%;
}

.signin-section .links a {
  display: block;
  color: var(--clr-primary);
  margin-bottom: 1rem;
  align-items: center;
  text-decoration: none;
  text-align: center;
  font-size: 0.9rem;
  transition: all 0.5s ease;
}

.signin-section .links a:hover {
  text-decoration: underline;
}

.signin-section .or {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.2rem;
}

.signin-section .or .bar {
  flex: auto;
  border: none;
  height: 1px;
  background: #666;
}

.signin-section .or span {
  color: #666;
  padding: 0 0.8rem;
}

/* Showcase */
.showcase-section {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: url('../images/background.jpg') no-repeat center center / cover; */
  background: url('../images/login-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
}

.showcase-section .showcase-text {
  font-family: 'myfont', sans-serif !important;
  font-size: 3rem;
  font-weight: 700;
  width: 100%;
  max-width: 900px;
  margin-bottom: 1.5rem;
  padding: 1em 2em;

}

.showcase-section .secondary-btn {
  width: 37%;
  margin: auto;
  background: var(--clr-primary);
}

.showcase-section .secondary-btn:hover {
  color: #181818;
  opacity: 1;
}

/* Footer */
.main-footer {
  color: #666;
  text-align: center;
  font-size: 0.7rem;
  max-width: 80%;
  padding-top: 4rem;
}

.main-footer p {
  margin-bottom: 0.5rem;
}

.main-footer a {
  color: #fff;
  text-decoration: none;
}

.main-footer a:hover {
  text-decoration: underline;
}

/* Button */
.primary-btn {
  padding: 0.7rem 1rem;
  height: 2.7rem;
  display: block;
  border: none;
  border-radius: 2px;
  font-weight: 700;
  background: var(--clr-primary);
  color: #fff;
  font-family: 'Inter', sans-serif;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s ease;
}

.primary-btn:hover {
  opacity: 0.7;
}

.primary-btn:active {
  opacity: 0.3;
}

.secondary-btn {
  padding: 0.7rem 1rem;
  height: 2.7rem;
  display: block;
  border: none;
  border-radius: 2px;
  font-weight: 700;
  background: #333;
  color: #fff;
  font-family: 'Inter', sans-serif;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s ease;
}

.secondary-btn:hover {
  opacity: 0.7;
}

.secondary-btn:active {
  opacity: 0.3;
}

/* Media Queries */

@media(min-width: 1200px) {
  .left-section {
    flex: 4;
  }

  .right-section {
    flex: 6;
  }
}

@media(max-width:768px) {
  body {
    overflow: auto;
  }

  .right-section {
    display: none;
  }

  .left-section {
    justify-content: start;
    margin-top: 10vh;
  }

  .signin-section .logo {
    margin-bottom: 2vh;
  }

  .signin-section .text-input {
    margin-bottom: 0.7rem;
  }

  .main-footer {
    padding-top: 1rem;
  }
}